/gemini
.DS_Store
CodeWithTimCSharp/.DS_Store
CodeWithTimCSharp/BlazorCrudDotNet/.DS_Store
CodeWithTimCSharp/BookSystemTeacher/.DS_Store
CodeWithTimCSharp/Calculator/.DS_Store
CodeWithTimCSharp/EndersDungeon/.DS_Store
CodeWithTimCSharp/NumberGuessingGame/.DS_Store
CodeWithTimCSharp/PickRandomCards/.DS_Store
CodeWithTimCSharp/RockPaperScissor/.DS_Store
CodeWithTimCSharp/SimpleBookCatalog/.DS_Store
CodeWithTimCSharp/TutorialProjectOOP/.DS_Store
.DS_Store
CodeWithTimCSharp/.DS_Store
